.page-header {
    padding: 100px;
    height: 900px;
}

.main-raised {
    top: 100px;
    height: 750px;
    overflow: auto;
    border: solid black;
}

.footer-default {
    padding: 100px;
    margin: 0;
    top: 100px !important;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

h3 {
    font-size: 15px;
}

#map {
    margin-top: 0;
    margin-bottom: 10px;
    height: 450px;
    border: solid black;
    box-shadow: 5px 10px 18px #888888;
}

.inner-div {
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    position: relative;
    max-height: 125px;
}

@media only screen and (max-width: 992px) {
    .inner-div {
        max-height: 250px;
    }
    .photo-thumb {
        min-width: 576px;
    }
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: lightgrey;
    color: #4e979d;
    padding: 20px;
    border: 1px solid #343a40;
    width: 50%;
    text-align: center;
}

.close {
    text-align: right;
    color: rgba(202, 93, 94);
    opacity: 1;
    text-shadow: none;
    font-size: 28px;
    font-weight: bold;
    margin-top: -15px;
    margin-right: -10px;
}

.close:hover, .close:focus {
    color: rgba(202, 93, 94);
    opacity: 0.6;
    text-decoration: none;
    cursor: pointer;
}

.notification {
    display: none;
}

label {
    color: rgb(60, 72, 88);
}

#img-head {
    float: left;
    padding-right: 10px;
}

.header-holder {
    display: flex;
    align-items: flex-end;
    align-content: space-between;
}

#update-numbers {
    padding: 5px;
}

/*animation code for down arrow*/

.fa-chevron-down {
    top: 10px;
    color: white;
    margin: 0;
    padding: 0;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    0% {
        transform: translateY(0px);
        text-shadow: 0 -20px 0;
    }
    20% {
        transform: translateY(0px);
        text-shadow: 0 -20px 0;
    }
    40% {
        transform: translateY(0px);
        text-shadow: 0 -20px 0;
    }
    60% {
        transform: translateY(0px);
        text-shadow: 0 -20px 0;
    }
    100% {
        transform: translateY(200px);
        text-shadow: 0 -20px 0;
        opacity: 0.3;
    }
}

#imgNav {
    display: flex;
    align-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(60, 72, 88)!important;
}

.heart-ico {
    color: hotpink;
    float: left;
    text-shadow: 1px 1px 2px #343a40;
    font-size: 29px;
}

.heart-ico:hover {
    color: rgb(192, 81, 137);
    cursor: pointer;
}

.heart-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.photo-thumb:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* code for input information for zipcode and image output*/

.map-direction {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-group {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.lb-data .lb-details {
    width: 84%;
}

/*Below is the CSS for the Login Modal*/

.modal-trigger {
    background: blue;
    padding: 1em 2em;
    color: white;
    border: 0;
}

.modal-trigger:hover {
    background: purple;
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content1 {
    border-radius: 4.8px;
    background-color: whitesmoke;
    margin: 10% auto;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 2s;
}

.modal-header {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 15px;
    color: white;
}

.modal-body {
    padding: 40px;
}

#email-input {
    color: blue;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
    height: 18px;
    Width: 100%;
    text-align: center;
}

#password-input {
    color: blue;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid gray;
    height: 18px;
    Width: 100%;
    text-align: center;
}

#login-update {
    display: flex;
    color: white;
    background-color: rgb(20, 187, 243) !important;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid blue;
    height: 22px;
    padding: 0 16px;
    border-radius: 2px;
    box-shadow: 0 1px 3px lighten(black, 60%);
}

.closeBtn {
    color: #ccc;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.modal-footer {
    display: flex;
    color: black;
    justify-content: center;
    font-family: 'Merienda', cursive;
}

@keyframes modalopen {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/*CSS for the image gallery side of the screen*/

.navbar-form {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 25px;
}

label {
    color: black;
    font-size: 16px;
}

.numberInputs {
    color: blue;
    font-size: 15px;
    border: none;
    border-bottom: 1px solid black;
    height: 18px;
    Width: 25%;
    text-align: center;
}

#update-numbers {
    display: flex;
    color: white;
    background-color: rgb(20, 187, 243) !important;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid blue;
    height: 22px;
    padding: 0 16px;
    border-radius: 2px;
    box-shadow: 0 1px 3px lighten(black, 60%);
}

#floating-panel {
    position: relative;
    top: 400px;
    right: 40%;
    z-index: 5;
    background: none;
    padding: 4px;
    border: none;
    text-align: center;
    line-height: 14px;
  }
  
  .mapbtn{
    color: white;
    background-color: rgb(128, 128, 128) !important;
    font-size: 10px;
    font-weight: bold;
    height: 22px;
    width: 100px;
    padding: 0 8px;
    box-shadow: 0 1px 3px lighten(black, 60%);
    margin: 1px;
  }